{% extends "layout.html" %}

{% block content %}



<h2 style="text-align: center;">Insira os textos</h1>


<div class="ui form"><grammarly-extension style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="_1KJtL"></grammarly-extension><grammarly-extension style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="_1KJtL"></grammarly-extension>
  <div class="field">
    <textarea id="novo_texto" spellcheck="false"></textarea>
  </div>
</div>

<button id= "adc_texto" class="ui button" >Adicionar texto</button>

<button id= "limpar_tabela" class="ui button" >Limpar todos os textos</button>

<div class="ui divider"></div>

<table class="ui celled table">
    <thead>
      <tr>
        <th>Textos</th>
    </tr></thead>
    <tbody>
    
      <tr>
        <td>a</td>
      </tr>
    
    </tbody>
</table>

<h2>Vocabulários</h2>

<table class="ui celled table">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Vocabulário</th>
    </tr></thead>
    <tbody>
    
      <tr>
        <td>a</td>
      </tr>
    
    </tbody>
</table>

<h2>Vetor de palavras</h2>

<table class="ui celled table">
    <thead>
      <tr>
        <th>Texto</th>
        <th>1-gram</th>
        <th>2-gram</th>
    </tr></thead>
    <tbody>
      <tr>
        
        <td>a</td>
        <td>a</td>
        <td>a</td>
       
      </tr>
    </tbody>
</table>


{% endblock %}