{% extends "layout.html" %}

{% block content %}


<script>
$(document).ready(function(){
  $("#adc_texto").click(function(){
    var novo_texto = $("#novo_texto").val();


    console.log(novo_texto);
    
    $.ajax({
      url: '/adc_texto',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({ "texto": novo_texto }),
      dataType: 'json'
    })
    
    location.reload()

  })

  $("#limpar_tabela").click(function(){
  
    $.ajax({
      url: '/reset',
      type: 'POST',
      data: {},
      dataType: 'json'
    })

  })
});
</script>

<h2 style="text-align: center;">Insira os textos</h1>


<div class="ui form"><grammarly-extension style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="_1KJtL"></grammarly-extension><grammarly-extension style="position: absolute; top: 0px; left: 0px; pointer-events: none;" class="_1KJtL"></grammarly-extension>
  <div class="field">
    <textarea id="novo_texto" spellcheck="false"></textarea>
  </div>
</div>

<button id= "adc_texto" class="ui button" >Adicionar texto</button>

<button id= "limpar_tabela" class="ui button" >Limpar database</button>

<div class="ui divider"></div>

<table class="ui celled table">
    <thead>
      <tr>
        <th>Textos</th>
    </tr></thead>
    <tbody>
    {% for t in Textos %}
      <tr>
        <td>{{ t.texto }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Vocabulários</h2>

<table class="ui celled table">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Vocabulário</th>
    </tr></thead>
    <tbody>
      <tr>
        <td>1-gram</td>
        <td>{% if Vocabularios |length > 0 %}  {{ Vocabularios[0].vocabularios }} {% endif %}</td>
      </tr>
      <tr>
        <td>2-gram</td>
        <td>{% if Vocabularios |length > 1 %}  {{ Vocabularios[1].vocabularios }} {% endif %}  </td>
      </tr>
    </tbody>
</table>

<h2>Vetor de palavras</h2>

<table class="ui celled table">
    <thead>
      <tr>
        <th>Texto</th>
        <th>1-gram</th>
        <th>2-gram</th>
    </tr></thead>
    <tbody>
      {% for v in Vetores %}
      <tr>
        <td>{{ v.texto }}</td>
        <td>{{ v.gram_1 }}</td>
        <td>{{ v.gram_2 }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}
